body 
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(42, 42, 42);
}

header 
{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 20px;
    text-align: center;
}

main 
{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

article 
{
    background-color: rgb(33, 33, 33);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 
{
    color: #9eceff;
}

p 
{
    color:#FFFFFF;
    line-height: 1.6;
}

a
{
    text-decoration:none;
}
